@import "tailwindcss";

@layer base {
  body {
    /* We are using a normal CSS rule, not a Tailwind utility */
    font-family: "Manrope", sans-serif;

    @apply bg-white; /* <-- Note: 'text-body' will also fail soon */

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  h1 {
    @apply text-5xl font-bold uppercase tracking-wider leading-tight;
  }
  h2 {
    @apply text-4xl font-bold uppercase tracking-wider;
  }
  h3 {
    @apply text-3xl font-bold uppercase tracking-wider;
  }
}
